<%= form_for @pass, :url=> {:action => "create"} do |f| %>

	<%= f.label :description, 'Description:' %>
	<%= f.text_field(:description) %>
	
	<%= f.label :logo, 'Logo:' %>
	<%= f.text_field(:logoText) %>

	<%= f.label :message, 'Barcode:' %>
	<%= f.text_field(:message) %>

	<%= f.label :organizationName, 'Organization Name:' %>
	<%= f.text_field(:organizationName) %>
	
	<%= f.label :label, 'Label:' %>
	<%= f.text_field(:label) %>	

	<%= f.label :value, 'Value:' %>
	<%= f.text_field(:value) %>	
	
	<%= f.label :foregroundColor, 'Foreground Color' %>
	<%= f.text_field(:foregroundColor, :type=>"color") %>

	<%= f.label :backgroundColor, 'Background Color' %>
	<%= f.text_field(:backgroundColor, :type=>"color")%>

    <div class="field">
        <%= f.label :icon2x %><br />
        <%= f.file_field :icon2x %>
	</div>

    <div class="field">
        <%= f.label :logo2x %><br />
        <%= f.file_field :logo2x %>
	</div>

	<div >
	<%= submit_tag("Generate Pass", :class=>"btn") %>
	</div>
<% end %>

